{
  "mysql": {
    "host": "",
    "user": "",
    "pass": "",
    "name": ""
  },
  "bolt": {
    "host": "/var/lib/semaphore/semaphore.db"
  },
  "port": ":3000",
  "tmp_path": "/tmp/semaphore",
  "cookie_hash": "random_cookie_hash",
  "cookie_encryption": "random_cookie_encryption",
  "email_sender": "",
  "email_host": "",
  "email_port": "",
  "email_user": "",
  "email_password": "",
  "ldap_binddn": "",
  "ldap_bindpassword": "",
  "ldap_server": "",
  "ldap_searchdn": "",
  "ldap_searchfilter": "",
  "ldap_mappings": {
    "dn": "",
    "mail": "",
    "uid": "",
    "cn": ""
  },
  "telegram_chat": "",
  "telegram_token": ""
}

